@font-face {
    font-family: Billabong;
    src: url(../assets/fonts/Koh_Santepheap/),
        url(../Roboto\ \(1\)/);
}

/* variaveis */
:root {
    --cor-preto: #000000;
    --cor-branco: #ffffff;
    --cor-azul-escuro: #3A4866;
    --cor-verde-claro: #8AEB72;
    --cor-verde-esucro: #377D48;
    --cor-cinza-escuro: #484848;

    --borda: 1px solid var(--cor-preto);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}


*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    background-color: var(--cor-cinza-claro);
}

h1{    
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* Cadastro */
.cadastro-botao-preto{
    background-color: var(--cor-preto);
    border-radius: var(--borda-arredondada);
    border: none;
    height: 35px;

    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
}

.cadastro-campos > input{
    border: var(--borda);
    height: 35px;
    background-color: var(--cor-cinza-claro);

    color: var(--cor-cinza-escuro2);
    font-size: var(--tamanho-fonte-sm);
    border-radius: var(--borda-arredondada);
}

.cadastro-campos > label{
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-escuro2);
    font-weight: 600; /**/
}